<div style="color:#006666; padding:0px 10px; border-radius:5px; font-size:18px;"><h1 style='margin:10px 5px'>Select, Create and Conditional Filtering</h1>
</div>

Â© Copyright Machine Learning Plus

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>1. Selecting Specific Data with loc, iloc, at, iat</h2>
</div>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("Datasets/Churn.csv")
df.head()

Pandas offers 4 primary methods to select items: 

1. __Dot notation__ : Select a single column.
1. __loc__   : select based on column names and index names. 
2. __iloc__  : select based on the column number and row number.
2. __iat__   : select one item only based on column and row number.

### Dot notation

Select one column only as reference.

In [ ]:
df.state

The object returned on selecting just one column is a pandas Series.

In [ ]:
df.state_num = 1

In [ ]:
df.head()

In [ ]:
df.state_num

In [ ]:
type(df.state)

The dot notation can't be used for column names that contain a space character.

### .loc example

.loc takes 2 arguments inside the square brackets. One for index names (row names) an another for columns names.

In [ ]:
df['state']

__with .loc__

In [ ]:
df.loc[:, 'state']

__So what is the difference between dot notation and using `[]`?__

The dot notation is a convenience that allows for column access as an attribute. But if you want to create a new column using dot, it wont work. It silently creates a new attribute without it appearing as a column.

In [ ]:
df.state2 = 'a'
df.head()

In [ ]:
df.state2

But you can create a new column with bracket notation.

In [ ]:
# create a new column
df.loc[:, 'state2'] = 'a'
df.head()

Alright, if you want to select more than one column at a time, put them all in a list.

In [ ]:
# This is Wrong
# df.loc[:, 'account length', 'area code', 'phone number', 'international plan'].head()

In [ ]:
df.loc[:, ['account length', 'area code', 'phone number', 'international plan']].head()

If you select contiguous columns, you can use the ':' notation.

In [ ]:
df.loc[:, 'account length': 'international plan'].head()

### .iloc example

In [ ]:
df.iloc[[0,1,2,3,4], [1,2,3,4]]

In [ ]:
# Another way
df.iloc[0:5, 1:5]

### at and iat Example

`at` and `iat` provide access to scalar, that is a single element in the dataframe. 

__Advantage:__ It is much faster than doing operations with .loc and .iloc.

In [ ]:
# access single element with iat
df.iat[1, 1]

In [ ]:
# access single element with at
df.at[1, 'account length']

### Mini Challenge

1. Get the row before the last row from the following dataframe.
2. Create a new column called 'minutes per call'.

```python
import pandas as pd
df = pd.read_csv("Datasets/Churn.csv")
```

__Solution__

In [ ]:
import pandas as pd
df = pd.read_csv("Datasets/Churn.csv")
df.head()

In [ ]:
# number of rows
df.shape[0]

In [ ]:
df.iloc[df.shape[0]-2, :]

In [ ]:
# Alternate (easier)
df.iloc[-2, :]

In [ ]:
# Check
df.tail()

__Solution 2:__

__'minutes_per_call' is nothing but: 'total day minutes'/'total day calls'__

In [ ]:
# Soltion 2
df['minutes_per_call'] = df['total day minutes']/df['total day calls']
df.head()

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>2. Gain speed using .at and .iat</h2>
</div>

The main advantage of using .at and .iat is speed.

Let's compare the time taken to compute the hypotenuse using .loc vs .iat method.

In [ ]:
import numpy as np
import pandas as pd

nrow = 10000
arr = np.random.randint(0, 100, (nrow,3))
df = pd.DataFrame(arr, columns=['A', 'B', 'C'])
df.head()

Define the function. We are going to iterate the rows of the dataframe and apply this function for each row and assign the returned value to one of the columns in the dataframe itself.

In [ ]:
def hypotenuse(a, b):
    return np.sqrt(a^2 + b^2)

In [ ]:
# Another example
def myfunc(a, b):
    if a < b:
        return 1
    else:
        return 0

__Using `df.loc`__

In [ ]:
%%time
for i in range(nrow):
    A = df.loc[i,'A']
    B = df.loc[i,'B']
    df.loc[i,'C']=hypotenuse(A, B)

__Using `df.at`__

In [ ]:
%%time
for i in range(nrow):
    A = df.at[i,'A']
    B = df.at[i,'B']
    df.at[i,'C']=hypotenuse(A, B)

The gains pile up when you increase the size of the data.

__Using `df.iat`__

In [ ]:
%%time
for i in range(nrow):
    A = df.iat[i, 0]
    B = df.iat[i, 1]
    df.iat[i, 2]=hypotenuse(A, B)

df.head()

However, use vectorization whereever possible, because that's usually the fastest.

__Using vectorization__

In [ ]:
%%time
df['C'] = np.sqrt(df['A']^2 + df['B']^2)

In [ ]:
df.head()

In [ ]:
%%time
df['C'] = np.sqrt(df.loc[:, 'A']^2 + df.loc[:, 'B']^2)

In [ ]:
df.head()

### Mini Challenge

For the given dataframe, assign all the diagonal elements to go from `1, 2, 3, 4 ... n`.

__Input:__

```python
import numpy as np
import pandas as pd

dfc = pd.DataFrame(np.zeros((1000, 1000), dtype='int'))
```

__code url__: https://git.io/JskEZ

In [ ]:
# Solution
import numpy as np
import pandas as pd

dfc = pd.DataFrame(np.zeros((1000, 1000), dtype='int'))
dfc.head()

In [ ]:
%%time
# Soution 1
for i in range(dfc.shape[0]):
    dfc.iat[i, i] = i

dfc.head()

In [ ]:
%%time
# Soution 2
for i in range(dfc.shape[0]):
    dfc.iloc[i, i] = i

dfc.head()

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>3. Filtering Rows that satisfy one or more conditions</h2>
</div>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("Datasets/Churn.csv")
df.head()

Row filter mask

In [ ]:
row_filter_mask = df['account length'] > 100
row_filter_mask

Column filter mask

In [ ]:
column_filter_mask = df.columns.str.startswith('t')
column_filter_mask

The length of the filter should match the length of the number of rows in the dataframe.

In [ ]:
df.loc[row_filter_mask, :]

You can apply more than one filter.

OR condition with " | "

In [ ]:
filter1 = df['account length'] > 100
filter2 = (df['total night calls'] < 90)

In [ ]:
# OR
df.loc[(filter1 | filter2), column_filter_mask]

AND conditions

In [ ]:
# Filter 2
df.loc[(filter1 & filter2), :]

Filtering using `where`. Instead of dropping the non-eligible rows, the `where` method replaces the values with NaNs. 

You can either drop these rows or replace the NaNs with some other value.

In [ ]:
df.where(filter1 & filter2)

In [ ]:
# Fill missing value with 0.
df.where(filter1 & filter2).fillna(0)

Or simply drop the rows containing missing values.

In [ ]:
# To drop the missing values use dropna()
df.where(filter1 & filter2).dropna()

We will come back to handling missing values later again.

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>Membership Filtering</h2>
</div>

`isin()`, `between()`,  `~` , `any`, `all`

__isin( )__: True if the value `isin` a given list-like object, else False.

In [ ]:
df.head()

In [ ]:
filterr = df.state.isin(['AZ', 'LA'])
df.loc[filterr, :].head()

__~__: True if value is `Not In` a given list.

In [ ]:
filterr = ~df['state'].isin(['AZ', 'LA'])
df.loc[filterr, :].head()

__between( ):__ True if the value is in a given range, else False.

In [ ]:
filterr = df['total day minutes'].between(100, 120)
df.loc[filterr, :].head()

`any()` and `all()` are boolean methods that return `True` whenever the value evaluates to `True` for `any` or `all` the values in the column or row.

__any()__: True if any of the items satisfies condition

1. `True` and Non-zero value evaluates to `True`. 
2. `False` and Zero evaluates to `False`.

__Example:__ 

A lab test is conducted on 12 individuals. Two samples are taken from each person. The test result is +ve if:
1. Any of the samples is +ve
2. All of the sample are +ve.

In [ ]:
df = pd.DataFrame(np.random.randint(0, 2, (2,12)), 
                  columns=["id"+str(i) for i in range(12)],
                  index=['sample1', 'sample2'])
df.head(10)

In [ ]:
df.any()

By default, the `axis='rows'` => returns result for every column.

Set `axis='columns'` to return result for every row.

Similar logic applies for `all()`.

__all()__: True only if all of the items satisty the condition./

In [ ]:
df.all()

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>4. Query and Eval</h2>
</div>

In [ ]:
import pandas as pd
df = pd.read_csv("Datasets/Churn.csv")
df.head()

### Query

__One Condition__

In [ ]:
df.query("state in ('KS', 'OH')").head()

__Multiple Conditions__

In [ ]:
df.query("state in ('KS', 'OH') and `voice mail plan` == 'yes' ").head()

__Query using another Python variable__

You can refer to another python variable (`var_name`) in a query using `@var_name`.

In [ ]:
min_day_calls = 120
df.query("state in ('KS', 'OH') and `voice mail plan` == 'yes' and `total day calls` > @min_day_calls").head()

In [ ]:
%%time
min_day_calls = 120
df.query("state in ('KS', 'OH') and `voice mail plan` == 'yes' and `total day calls` > @min_day_calls").head()

The best part is, filtering using queries can be faster than with `.loc` based calls for large dataframes.

### Eval

__Using df.eval__

You need to pass an expression to evaluate as a string to the `df.eval()` method.

In [ ]:
%%time
mask = df.eval("state in ('KS', 'OH') and `voice mail plan` == 'yes' and `total day calls` > @min_day_calls")
mask

In [ ]:
mask

In [ ]:
df.loc[mask, :]

__Another evaluation example__

In [ ]:
df.eval('minutes_per_call = `total day minutes` / `total day calls`', inplace=True)

In [ ]:
df.head()

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>5. Removing Duplicates</h2>
</div>

Removing duplicate items based on one or more columns is another often used data cleaning step. For example, you migh want to keep the very first occurence of a particular value and drop everything afterwards.

When dropping duplicates, you may handle them in 3 ways usually:
1. Keep first occurrence only
2. Keep last occurrence only
3. Remove all if there's more than one occurrence.

In [ ]:
import pandas as pd
df = pd.read_csv("Datasets/Churn.csv")
df.head()

Keep first occurrence of each state.

In [ ]:
df.drop_duplicates('state', keep='first')

Duplicates based on more than one column: State and Area Code

In [ ]:
df.drop_duplicates()

Duplicates on the entire dataframe. If two rows are exactly alike, drop_duplicates() with no subset argument will remove the entire row.

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>6. Sorting</h2>
</div>

1. Sorting by single column
2. Sorting by multiple columns
3. Mix ascending and descending sort

In [ ]:
import pandas as pd
df = pd.read_csv("Datasets/Churn.csv")
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

__Ascending sort__

Ex: Get 5 customers who made the lowest number of total day calls.

In [ ]:
df.sort_values(by='total day calls')

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1397,VT,101,510,413-7655,no,no,0,0.0,0,0.00,...,119,16.33,168.8,95,7.60,7.2,4,1.94,1,False
1345,SD,98,415,392-2555,no,no,0,0.0,0,0.00,...,130,13.57,167.1,88,7.52,6.8,1,1.84,4,True
1144,NH,155,408,353-6300,no,no,0,216.7,30,36.84,...,125,12.27,135.3,106,6.09,10.8,1,2.92,2,False
1989,MT,124,415,420-5652,no,yes,30,144.5,35,24.57,...,101,22.30,226.5,82,10.19,12.0,7,3.24,2,False
692,NE,82,408,343-2741,no,no,0,185.8,36,31.59,...,134,23.50,192.1,104,8.64,5.7,7,1.54,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,MA,39,408,332-2462,no,no,0,60.4,158,10.27,...,120,26.03,123.9,46,5.58,12.4,3,3.35,1,False
1057,WV,86,415,332-2258,no,yes,38,123.0,158,20.91,...,119,11.38,138.2,103,6.22,13.3,4,3.59,1,False
1460,MT,80,415,361-8288,no,no,0,198.1,160,33.68,...,87,13.32,182.1,76,8.19,9.3,3,2.51,3,False
468,AZ,86,415,392-2381,no,yes,32,70.9,163,12.05,...,121,14.17,244.9,105,11.02,11.1,5,3.00,3,False
1121,MI,91,415,390-7930,no,no,0,154.4,165,26.25,...,121,14.31,239.9,81,10.80,11.7,4,3.16,5,True

__Descending sort__

Ex: Get 5 customers who made the highest number of day calls.

In [ ]:
df.sort_values(by='total day calls', ascending=False)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1121,MI,91,415,390-7930,no,no,0,154.4,165,26.25,...,121,14.31,239.9,81,10.80,11.7,4,3.16,5,True
468,AZ,86,415,392-2381,no,yes,32,70.9,163,12.05,...,121,14.17,244.9,105,11.02,11.1,5,3.00,3,False
1460,MT,80,415,361-8288,no,no,0,198.1,160,33.68,...,87,13.32,182.1,76,8.19,9.3,3,2.51,3,False
2392,WY,90,510,400-8069,no,no,0,125.4,158,21.32,...,83,22.87,238.6,103,10.74,11.0,7,2.97,1,False
1057,WV,86,415,332-2258,no,yes,38,123.0,158,20.91,...,119,11.38,138.2,103,6.22,13.3,4,3.59,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,NE,82,408,343-2741,no,no,0,185.8,36,31.59,...,134,23.50,192.1,104,8.64,5.7,7,1.54,4,False
1989,MT,124,415,420-5652,no,yes,30,144.5,35,24.57,...,101,22.30,226.5,82,10.19,12.0,7,3.24,2,False
1144,NH,155,408,353-6300,no,no,0,216.7,30,36.84,...,125,12.27,135.3,106,6.09,10.8,1,2.92,2,False
1397,VT,101,510,413-7655,no,no,0,0.0,0,0.00,...,119,16.33,168.8,95,7.60,7.2,4,1.94,1,False
1345,SD,98,415,392-2555,no,no,0,0.0,0,0.00,...,130,13.57,167.1,88,7.52,6.8,1,1.84,4,True

__Sort by multiple columns__

Ex: sort the customers who made the highest number of day calls by each state.

In [ ]:
df.sort_values(by=['state', 'total day calls'], ascending=False).loc[:, ['state', 'total day calls']]

Sort one column by ascending and other by descending.

Ex: Sort `state` in alphabetical order but `total day calls` in descending order.

In [ ]:
df.sort_values(by=['state', 'total day calls'], ascending=[True, False]).loc[:, ['state', 'total day calls']]

     state  total day calls
950     AK              129
36      AK              128
3088    AK              127
718     AK              124
2071    AK              121
...    ...              ...
2819    WY               68
3172    WY               67
653     WY               65
609     WY               55
1422    WY               45

[3333 rows x 2 columns]